<?xml version="1.0" encoding="UTF-8"?>
<component name="Menu" extends="Group">
    <script type="text/brightscript" uri="Menu.brs" />
    <children>
        <Rectangle
            id="background"
            width="1920"
            height="1080"
            color="0x121212FF"
            opacity="0"/>
    </children>
</component>